
<% unless @creature.saving_throws.empty? %>
    <div class="property-line">
      <h4>Saving Throws</h4>
      <p><%= @creature.saving_throws %></p>
    </div>
<% end %>
<% unless @creature.skills.empty? %>
    <div class="property-line">
      <h4>Skills</h4>
      <p><%= @creature.skills %></p>
    </div>
<% end %>
<% unless @creature.dmg_vulnerabilities.empty? %>
    <div class="property-line">
      <h4>Damage Vulnerabilities</h4>
      <p><%= @creature.dmg_vulnerabilities %></p>
    </div>
<% end %>
<% unless @creature.dmg_resistances.empty? %>
    <div class="property-line">
      <h4>Damage Resistances</h4>
      <p><%= @creature.dmg_resistances %></p>
    </div>
<% end %>
<% unless @creature.dmg_immunities.empty? %>
    <div class="property-line">
      <h4>Damage Immunities</h4>
      <p><%= @creature.dmg_immunities %></p>
    </div>
<% end %>
<% unless @creature.con_immunities.to_s.empty? %>
    <div class="property-line">
      <h4>Condition Immunities</h4>
      <p><%= @creature.con_immunities %></p>
    </div>
<% end %>
<% unless @creature.senses.empty? %>
    <div class="property-line">
      <h4>Senses</h4>
      <p><%= @creature.senses %></p>
    </div>
<% end %>
<% unless @creature.languages.empty? %>
    <div class="property-line">
      <h4>Languages</h4>
      <p><%= @creature.languages %></p>
    </div>
<% end %>
<% unless @creature.challenge_rating.empty? %>
    <div class="property-line">
      <h4>Challenge</h4>
      <p><%= @creature.challenge_rating %></p>
    </div>
<% end %>
<span class="thin-black-line"></span>