<% if @creature.special_abilities.count > 0 %>
    <% @creature.special_abilities.each do |ability| %>
        <div class="property-block">
          <h4><%= ability.name %>.</h4>
          <p>
            <%= ability.desc %>
          </p>
        </div>
    <% end %>
<% end %>

<h3>Actions</h3>

<% if @creature.actions.count > 0 %>
    <% @creature.actions.each do |action| %>
        <% next if action.action_type.eql?('Legendary') || action.action_type.eql?('Reaction')%>
        <div class="property-block">
          <% if action.damage.size > 0 %>
              <h4><a class="attack" href="<%= action.to_hit %>/<%= action.damage %>"><%= action.name %>.</a></h4>
              <p><%= action.desc %></p>
          <% else %>
              <h4><%= action.name %>.</h4>
              <p><%= action.desc %></p>
          <% end %>
        </div>
    <% end %>
<% end %>

<% if @creature.legendary_actions.count > 0 %>
    <h3>Legendary Actions</h3>
    <div class="property-block">
      <p>
        The <%= @creature.name.downcase %> can take 3 legendary actions, choosing  from the options below. Only one
        legendary action option can be used at a time and only at the end of another creature’s turn. The
        <%= @creature.name.downcase %> regains spent legendary actions at the start of its turn.
      </p>
    </div>
    <% @creature.legendary_actions.each do |legendary_action| %>
        <div class="property-block">
          <% if legendary_action.name.size > 0 %>
              <p>
                <% if legendary_action.damage && legendary_action.damage.size > 0 %>
                  <h4><a class="attack" href="<%= legendary_action.to_hit %>/<%= legendary_action.damage %>"><%= legendary_action.name %>.</a></h4>
                  <p><%= legendary_action.desc %></p>
              <% else %>
                  <h4><%= legendary_action.name %>.</h4>
                  <p><%= legendary_action.desc %></p>
              <% end %>
              </p>
          <% end %>
        </div>
    <% end %>
<% end %>

<% if @creature.reactions.count > 0 %>
    <h3>Rections</h3>
    <% @creature.reactions.each do |reaction| %>
        <div class="property-block">
          <% if reaction.name.size > 0 %>
              <p>
                <% if reaction.damage && reaction.damage.size > 0 %>
                  <h4><a class="attack" href="<%= reaction.to_hit %>/<%= reaction.damage %>"><%= reaction.name %>.</a></h4>
                  <p><%= reaction.desc %></p>
              <% else %>
                  <h4><%= reaction.name %>.</h4>
                  <p><%= reaction.desc %></p>
              <% end %>
              </p>
          <% end %>
        </div>
    <% end %>
<% end %>