<html>
<head>
  <title><%= @creature.name %></title>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/css/statblock.css" type="text/css" media="screen" />
</head>
<body>
<div class="stat-block wide">
  <hr class="orange-border" />
  <div class="section-left">
    <div class="creature-heading">
      <h1><%= @creature.name %></h1>
      <h2><%= @creature.subhead %></h2>
    </div> <!-- creature heading -->
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
    <div class="top-stats">
      <div class="property-line first">
        <h4>Armor Class</h4>
        <p><%= @creature.armor %></p>
      </div> <!-- property line -->
      <div class="property-line">
        <h4>Hit Points</h4>
        <p><%= @creature.health %></p>
      </div> <!-- property line -->
      <div class="property-line last">
        <h4>Speed</h4>
        <p><%= @creature.speed %></p>
      </div> <!-- property line -->
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <div class="abilities">
        <div class="ability-strength">
          <h4>STR</h4>
          <p><%= @creature.strength %> (<%= format_modifier(@creature.strength) %>)</p>
        </div> <!-- ability strength -->
        <div class="ability-dexterity">
          <h4>DEX</h4>
          <p><%= @creature.dexterity %> (<%= format_modifier(@creature.dexterity) %>)</p>
        </div> <!-- ability dexterity -->
        <div class="ability-constitution">
          <h4>CON</h4>
          <p><%= @creature.constitution %> (<%= format_modifier(@creature.constitution) %>)</p>
        </div> <!-- ability constitution -->
        <div class="ability-intelligence">
          <h4>INT</h4>
          <p><%= @creature.intelligence %> (<%= format_modifier(@creature.intelligence) %>)</p>
        </div> <!-- ability intelligence -->
        <div class="ability-wisdom">
          <h4>WIS</h4>
          <p><%= @creature.wisdom %> (<%= format_modifier(@creature.wisdom) %>)</p>
        </div> <!-- ability wisdom -->
        <div class="ability-charisma">
          <h4>CHA</h4>
          <p><%= @creature.charisma %> (<%= format_modifier(@creature.charisma) %>)</p>
        </div> <!-- ability charisma -->
      </div> <!-- abilities -->
      <svg height="5" width="100%" class="tapered-rule">
        <polyline points="0,0 400,2.5 0,5"></polyline>
      </svg>
      <% unless @creature.saving_throws.empty? %>
          <div class="property-line">
            <h4>Saving Throws</h4>
            <p><%= @creature.saving_throws %></p>
          </div>
      <% end %>
      <% unless @creature.skills.empty? %>
          <div class="property-line">
            <h4>Skills</h4>
            <p><%= @creature.skills %></p>
          </div>
      <% end %>
      <% unless @creature.dmg_vulnerabilities.empty? %>
          <div class="property-line">
            <h4>Damage Vulnerabilities</h4>
            <p><%= @creature.dmg_vulnerabilities %></p>
          </div>
      <% end %>
      <% unless @creature.dmg_resistances.empty? %>
          <div class="property-line">
            <h4>Damage Resistances</h4>
            <p><%= @creature.dmg_resistances %></p>
          </div>
      <% end %>
      <% unless @creature.dmg_immunities.empty? %>
          <div class="property-line">
            <h4>Damage Immunities</h4>
            <p><%= @creature.dmg_immunities %></p>
          </div>
      <% end %>
      <% unless @creature.con_immunities.to_s.empty? %>
          <div class="property-line">
            <h4>Condition Immunities</h4>
            <p><%= @creature.con_immunities %></p>
          </div>
      <% end %>
      <% unless @creature.senses.empty? %>
          <div class="property-line">
            <h4>Senses</h4>
            <p><%= @creature.senses %></p>
          </div>
      <% end %>
      <% unless @creature.languages.empty? %>
          <div class="property-line">
            <h4>Languages</h4>
            <p><%= @creature.languages %></p>
          </div>
      <% end %>
      <% unless @creature.challenge_rating.empty? %>
          <div class="property-line">
            <h4>Challenge</h4>
            <p><%= @creature.challenge_rating %></p>
          </div>
      <% end %>
    </div> <!-- top stats -->
    <svg height="5" width="100%" class="tapered-rule">
      <polyline points="0,0 400,2.5 0,5"></polyline>
    </svg>
    <% if @creature.special_abilities.count > 0 %>
        <% @creature.special_abilities.each do |ability| %>
            <div class="property-block">
              <h4><%= ability.name %>.</h4>
              <p>
                <%= ability.desc %>
              </p>
            </div>
        <% end %>
    <% end %>
  </div> <!-- section left -->
  <div class="section-right">
    <div class="actions">
      <h3>Actions</h3>
      <% if @creature.actions.count > 0 %>
          <% @creature.actions.each do |action| %>
              <% next if action.action_type.eql?('Legendary') || action.action_type.eql?('Reaction')%>
              <div class="property-block">
                <% if action.damage.size > 0 %>
                    <h4><a class="attack" href="<%= action.to_hit %>/<%= action.damage %>"><%= action.name %>.</a></h4>
                    <p><%= action.desc %></p>
                <% else %>
                    <h4><%= action.name %>.</h4>
                    <p><%= action.desc %></p>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div> <!-- actions -->
    <div class="actions">
      <% if @creature.legendary_actions.count > 0 %>
          <h3>Legendary Actions</h3>
          <div class="property-block">
            <p>
              The <%= @creature.name.downcase %> can take 3 legendary actions, choosing  from the options below. Only one
              legendary action option can be used at a time and only at the end of another creature’s turn. The
              <%= @creature.name.downcase %> regains spent legendary actions at the start of its turn.
            </p>
          </div>
          <% @creature.legendary_actions.each do |legendary_action| %>
              <div class="property-block">
                <% if legendary_action.name.size > 0 %>
                    <p>
                      <% if legendary_action.damage && legendary_action.damage.size > 0 %>
                        <h4><a class="attack" href="<%= legendary_action.to_hit %>/<%= legendary_action.damage %>"><%= legendary_action.name %>.</a></h4>
                        <p><%= legendary_action.desc %></p>
                    <% else %>
                        <h4><%= legendary_action.name %>.</h4>
                        <p><%= legendary_action.desc %></p>
                    <% end %>
                    </p>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div> <!-- actions -->
    <div class="actions">
      <% if @creature.reactions.count > 0 %>
          <h3>Rections</h3>
          <% @creature.reactions.each do |reaction| %>
              <div class="property-block">
                <% if reaction.name.size > 0 %>
                    <p>
                      <% if reaction.damage && reaction.damage.size > 0 %>
                        <h4><a class="attack" href="<%= reaction.to_hit %>/<%= reaction.damage %>"><%= reaction.name %>.</a></h4>
                        <p><%= reaction.desc %></p>
                    <% else %>
                        <h4><%= reaction.name %>.</h4>
                        <p><%= reaction.desc %></p>
                    <% end %>
                    </p>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div> <!-- actions -->
  </div> <!-- section right -->
  <hr class="orange-border bottom" />
</div> <!-- stat block -->
</body>
</html>
