<div class="detail-content">
  <div class="monster-info">
    <div class="details-container">
      <div class="creature-heading">
        <h1><%= @creature.name %></h1>
        <h2><%= @creature.subhead %></h2>
      </div>
    </div>
    <div class="line monster height3 marginBottom20"></div>
    <div class="abilities">
      <div id="str">
        <span class="title">STR</span>
        <span class="score"><%= @creature.strength %></span>
        <span class="modifier">(<%= format_modifier(@creature.strength) %>)</span>
      </div>
      <div id="dex">
        <span class="title">DEX</span>
        <span class="score"><%= @creature.dexterity %></span>
        <span class="modifier">(<%= format_modifier(@creature.dexterity) %>)</span>
      </div>
      <div id="con">
        <span class="title">CON</span>
        <span class="score"><%= @creature.constitution %></span>
        <span class="modifier">(<%= format_modifier(@creature.constitution) %>)</span>
      </div>
      <div id="int">
        <span class="title">INT</span>
        <span class="score"><%= @creature.intelligence %></span>
        <span class="modifier">(<%= format_modifier(@creature.intelligence) %>)</span>
      </div>
      <div id="wis">
        <span class="title">WIS</span>
        <span class="score"><%= @creature.wisdom %></span>
        <span class="modifier">(<%= format_modifier(@creature.wisdom) %>)</span>
      </div>
      <div id="cha">
        <span class="title">CHA</span>
        <span class="score"><%= @creature.charisma %></span>
        <span class="modifier">(<%= format_modifier(@creature.charisma) %>)</span>
      </div>
    </div>
    <div class="line monster height3 marginBottom20"></div>
    <div class="quick-info">
      <div id="challenge">
        <span class="title">Challenge</span>
        <span class="primary"><%= @creature.challenge_rating %></span>
        <span class="secondary">(0 XP)</span>
      </div>
      <div id="armor-class">
        <span class="title">Armor Class</span>
        <span class="primary"><%= @creature.armor_class %></span>
        <span class="secondary">(<%= @creature.armor_type %>)</span>
      </div>
      <div id="hp">
        <span class="title">Hit Points</span>
        <span class="primary"><%= @creature.hit_points %></span>
        <span class="secondary">(<%= @creature.health %>)</span>
      </div>
      <div id="speed">
        <span class="title">Speed</span>
        <span class="primary"><%= @creature.base_speed %></span>
        <span class="secondary">(<%= @creature.movements %>)</span>
      </div>
    </div>
    <div class="line monster marginBottom20"></div>
    <div class="info-block">
      <% unless @creature.saving_throws.blank? %>
          <div id="saving-throws">
            <span class="title">Saving Throws</span>
            <span class="description"><%= @creature.saving_throws %></span>
          </div>
      <% end %>
      <% unless @creature.skills.blank? %>
          <div id="skills">
            <span class="title">Skills</span>
            <span class="description"><%= @creature.skills %></span>
          </div>
      <% end %>
      <% unless @creature.dmg_vulnerabilities.blank? %>
          <div id="damage-vulnerabilities">
            <span class="title">Damage Vulnerabilities</span>
            <span class="description"><%= @creature.dmg_vulnerabilities %></span>
          </div>
      <% end %>
      <% unless @creature.dmg_resistances.blank? %>
          <div id="damage-resistances">
            <span class="title">Damage Resistances</span>
            <span class="description"><%= @creature.dmg_resistances %></span>
          </div>
      <% end %>
      <% unless @creature.dmg_immunities.blank? %>
          <div id="damage-immunities">
            <span class="title">Damage Immunities</span>
            <span class="description"><%= @creature.dmg_immunities %></span>
          </div>
      <% end %>
      <% unless @creature.con_immunities.blank? %>
          <div id="damage-immunities">
            <span class="title">Condition Immunities</span>
            <span class="description"><%= @creature.con_immunities %></span>
          </div>
      <% end %>
      <% unless @creature.senses.blank? %>
          <div id="senses">
            <span class="title">Senses</span>
            <span class="description"><%= @creature.senses %></span>
          </div>
      <% end %>
      <% unless @creature.languages.blank? %>
          <div id="languages">
            <span class="title">Languages</span>
            <span class="description"><%= @creature.languages %></span>
          </div>
      <% end %>
    </div>
    <div class="line monster marginBottom20"></div>
    <div class="more-info-content">
      <% if @creature.special_abilities.count > 0 %>
          <% @creature.special_abilities.each do |ability| %>
              <p>
                <strong>
                  <%= ability.name %>.
                </strong>
                <%= ability.desc %>
                (<%= ability.id %>)
              </p>
          <% end %>
      <% end %>
      <h3>Actions</h3>
      <% if @creature.actions.count > 0 %>
          <% @creature.actions.each do |action| %>
              <% next if action.action_type.eql?('Legendary') || action.action_type.eql?('Reaction')%>
              <p>
                <% if action.damage && action.damage.size > 0 %>
                    <strong>
                      <a class="attack" id="<%= @creature.name %>/<%= action.name %>/<%= action.to_hit %>/<%= action.damage %>" href="#">
                        <%= action.name %>.
                      </a>
                    </strong> <%= action.desc %>
                <% else %>
                    <strong><%= action.name %>.</strong> <%= action.desc %>
                <% end %>
                (<%= action.id %>)
              </p>
          <% end %>
      <% end %>

      <% if @creature.legendary_actions.count > 0 %>
          <h3>Legendary Actions</h3>
          <p>
            The <%= @creature.name.downcase %> can take 3 legendary actions, choosing  from the options below. Only one
            legendary action option can be used at a time and only at the end of another creature’s turn. The
            <%= @creature.name.downcase %> regains spent legendary actions at the start of its turn.
          </p>

          <% @creature.legendary_actions.each do |legendary_action| %>
              <% if legendary_action.name.size > 0 %>
                  <p>
                    <% if legendary_action.damage && legendary_action.damage.size > 0 %>
                        <strong>
                          <a class="attack" id="<%= @creature.name %>/<%= legendary_action.name %>/<%= legendary_action.to_hit %>/<%= legendary_action.damage %>" href="#">
                            <%= legendary_action.name %>.
                          </a>
                        </strong> <%= legendary_action.desc %>
                    <% else %>
                        <strong><%= legendary_action.name %>.</strong> <%= legendary_action.desc %>
                    <% end %>
                    (<%= legendary_action.id %>)
                  </p>
              <% end %>
          <% end %>
      <% end %>

      <% if @creature.reactions.count > 0 %>
          <h3>Rections</h3>
          <% @creature.reactions.each do |reaction| %>
              <p>
                <% if reaction.name.size > 0 %>
                    <% if reaction.damage && reaction.damage.size > 0 %>
                        <strong>
                          <a class="attack" id="<%= @creature.name %>/<%= reaction.name %>/<%= reaction.to_hit %>/<%= reaction.damage %>" href="#">
                            <%= reaction.name %>.
                          </a>
                        </strong> <%= reaction.desc %>
                    <% else %>
                        <strong><%= reaction.name %>.</strong> <%= reaction.desc %>
                    <% end %>
                <% end %>
                (<%= reaction.id %>)
              </p>
          <% end %>
      <% end %>
    </div>
  </div>
  <div>Creature ID: <%= @creature.id %></div>
</div>
